.header {
  &__logo-img {
    width: 15rem;

    @media only screen and (min-width: $bp-desktop) {
      width: 18rem;
    }
    @media only screen and (min-width: $bp-larger) {
      width: 22rem;
      margin-bottom: 3rem;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}
